<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Zakat</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="zakatcalculator">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Quick Zakat Calculator
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="gold">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Gold
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cash">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Cash
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="401k">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Regular 401K
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="roth401K">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Roth 401K
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="brokerage">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Brokerage Account
            </NavLink>
        </div>
    </nav>
</div>

