@page "/brokerage"

<h3>Zakat Calculation for Brokerage account or Stocks</h3>

<P>For brokerage account or stocks, you can pay 2.5% of total amount or use zoya online zakat calculator</P>
<P>Method 1: Pay 2.5% of total amount. For example, if you have $10,000 in your brokerage account, you would pay $250 in zakat (10,000 x 0.025 = 250).</P>    
<P>Method 2: Use zoya online zakat calculator (https://app.zoya.finance/zakat).</P> 
<P>Zakat Calculation Methodology</P>
<P>Active holdings</P>
<P>Base value ⅹ 2.5% = Zakat amount</P>
<P>Active investments are ones that you trade and adjust frequently. Holding you intend to keep for less than a year would fall under this category. You should treat such holdings the same as cash and pay 2.5% of their value as Zakat.</P>

<P>Passive holdings</P>
<P>Current assets ⅹ (Shares owned / Shares outstanding) ⅹ 2.5% = Zakat amount</P>
<P>Passive holdings are investments that you do not actively trade and intend to hold for more than a year. For these, you calculate percent ownership of your shares and multiply that by the current assets of the business to determine the Zakat liable amount. ETFs and mutual funds require recursive application of this calculation to their holdings with a weighted aggregation at the end. Scholars have approved the use of taking 30% of the current market value of a stock or fund as an approximation for current assets when the information is not readily available.</P>

@code {

}
