@page "/"

<h3>Zakat</h3>
<br />
<h4>History of Zakat</h4>

<P>Zakat was prescribed upon Muslims in the second year of Hijrah after Rasulullah s.a.w migrated to Madinah, shortly before fasting was obligatory. Prior to this, zakat was not yet prescribed for Muslims. The verses of the Qur'an that came down earlier only remind us that the believers at that time should spend part of their wealth for the poor in the city of Makkah. The order is just an initiative, not yet mandatory.</P>
<P>Allah s.w.t. says in the Quran:</P>

<P>
إِنَّ الَّذِينَ آمَنُوا وَهَاجَرُوا وَجَاهَدُوا بِأَمْوَالِهِمْ وَأَنفُسِهِمْ فِي سَبِيلِ اللَّهِ وَالَّذِينَ آوَوا وَّنَصَرُوا أُولَٰئِكَ بَعْضُهُمْ أَوْلِيَاءُ بَعْضٍ ۚ
</P>
<P>
"Indeed, those who have believed and emigrated and fought with their wealth and lives in the cause of Allah and those who gave shelter and aided - they are allies of one another."
</P>
<P>
(Surah Al-Anfal, 8:72)
</P>
 
<P>
What assistance was given to Rasulullah s.a.w. and his companions during the beginning of the Hijrah period?
</P>
<P>
Right after the migration, Rasulullah s.a.w. and his companions and the Muhajireen, the Muslims who migrated from the city of Makkah to the city of Madinah, were busy making the necessary adjustments to adapt their personal life and that of their family in a whole new environment.
Many of the Muslims at that time had very little wealth to live with except a minority of them. This was because much of their property and wealth were left behind in the city of Makkah in  the midst of their secret migration to the city of Madinah, without the knowledge of the chieftains of Makkah.
Although the Ansar helped and supported the Muhajireen a lot with extraordinary contributions, they always understood that the hand that gives is more important than the hand that receives.
</P>

<P>
As taught by the Prophet s.a.w in the following hadith:
</P>
<P>
اَلْيَدُ الْعُلْيَا خَيْرٌ مِنَ الْيَدِ السُّفْلَى، وَابْدَأْ بِمَنْ تَعُوْلُ، وَخَيْرُ الصَّدَقَةِ عَنْ ظَهْرِ غِنًى،
</P>
<P>
“The upper hand (giver) is better than the lower hand (receiver). And start from the person who is your dependent. And the best alms is that which is issued from the person who has more than his needs.
</P>
<P> 
(Reported by Bukhari and Muslim)
</P>
 
<P>
Although the Ansar were more than happy to share their money and land with their new-found brothers, the Muhajireen on the other hand, understood that maintaining one’s honor and feeling sufficient and not depending on the hands of the people (by gifts and donation) are something that the Prophet s.a.w. reminded time and time again, in a hadith:
</P>
<P>
 وَمَنْ يَسْتَعْفِفْ يُعِفَّهُ اللهُ، وَمَنْ يَسْتَغْنِ يُغْنِهِ اللهُ
</P>
<P>
Whoever maintains his honor, then Allah will protect him and whoever feels enough, then Allah will give him sufficiency. "
</P>
<P>
(Reported by Bukhari and Muslim)
</P>
 
<P>
Therefore, the Muhajireen worked hard to adapt and adjust, and some took up new skills such as trading and so on, for a better life and to not present any unnecessary burdens to the Ansar.
In this, we learn and understand the importance of caring and extending a hand to our brothers in need, with full tawakkal and faith that Allah s.w.t will reward and will never make it a loss.
</P>

<P>
As the Prophet s.a.w said in a hadith:
</P>
<P>
مَا نَقَصَتْ صَدَقَةٌ مِنْ مَالٍ
</P>
<P>
 “Zakat does not decrease someone's wealth.”
</P>
<P> 
(Reported by Muslim)
</P>
 
<P>
In today’s situation where many families and individuals are affected economically, it is more important for a Muslim to ever extend assistance to those in need, just like how the Ansar helped the Muhajireen in the early days of Islam.
After the earlier phases of Islam, Zakat was then made obligatory. And as Muslims grew in number throughout history, zakat became an important tool to ensure this tradition of helping one another continues on.
In fact, it is institutionalized as one of the 5 pillars of Islam – without which, your faith will not be complete.
</P>

<P>
Allah s.w.t says in the Quran:
</P>
<P>
إِنَّمَا الصَّدَقَاتُ لِلْفُقَرَاءِ وَالْمَسَاكِينِ وَالْعَامِلِينَ عَلَيْهَا وَالْمُؤَلَّفَةِ قُلُوبُهُمْ وَفِي الرِّقَابِ وَالْغَارِمِينَ وَفِي سَبِيلِ اللَّهِ وَابْنِ السَّبِيلِ ۖ فَرِيضَةً مِّنَ اللَّهِ ۗ وَاللَّهُ عَلِيمٌ حَكِيمٌ
</P>
<P>
Zakat expenditures are only for the poor and for the needy and for those employed to collect [zakat] and for bringing hearts together [for Islam] and for freeing captives [or slaves] and for those in debt and for the cause of Allah and for the [stranded] traveler - an obligation [imposed] by Allah . And Allah is Knowing and Wise.
</P>
<P> 
(Surah Taubah 9:60)
</P>


<br /><br />
<h4>Zakat Obligation</h4>

<P>Zakat is obligatory on someone who is:</P>
<P>1. A free man or woman: A slave does not have to pay zakat.</P>
<P>2. A Muslim. Zakat is a religious obligation upon Muslims, like the 5 daily prayers.</P>
<P>3. Sane: The person on whom zakat becomes obligatory must be of sound mind according to Imam Abu Hanifa. Imam Malik holds that an insane person is still liable for zakat.</P>
<P>4. An adult: Children do not have to pay zakat, even if they own enough wealth to make zakat obligatory. However, both Imam Shafi’i and Imam Malik say that the guardians of the children should pay the zakat on their behalf.</P>
<P>5. In complete ownership and control of their wealth: The person must own and be in possession of the wealth, and also be free to spend or dispose of the wealth in any manner they like. If a person has made a loan of their wealth then they are not in a position to spend it until it is repaid.</P>
<P>6. In possession of wealth above the nisab threshold: The person should possess wealth above a defined amount required to satisfy the essential needs of themselves and their dependents (nisab).</P>
<P>7. Free from debt: Someone in debt may deduct his debts from his assets, if what remains is still above the nisab threshold, zakat is due, otherwise not.</P>
<P>8. In possession of the wealth for one complete lunar (hijrah) year: If one owns zakatable wealth for a lunar year, zakat will become obligatory, provided the total amount of wealth exceeds the nisab at the beginning of the year and the end, irrespective of any fluctuations in the months between.</P>


<br /><br />
<h4>Zakat Eligibility</h4>

<P>There are 8 categories of people who are eligible to receive zakat:</P>
<P>1. The poor (al-fuqara): Those who do not have enough to meet their basic needs.</P>
<P>2. The needy (al-masakin): Those who have some wealth but not enough to meet their basic needs.</P>
<P>3. The zakat collectors (al-amilina alayha): Those who are appointed to collect and distribute zakat.</P>
<P>4. Those whose hearts are to be reconciled (al-mu'allafatu qulubuhum): Those who are new to Islam or those whose faith is weak and need support.</P>
<P>5. Those in bondage (ar-riqab): Those who are enslaved and need to be freed.</P>
<P>6. Those in debt (al-gharimin): Those who are in debt and cannot pay it off.</P>
<P>7. In the cause of Allah (fi sabilillah): Those who are striving in the way of Allah, such as students of Islamic knowledge, or those who are working for the betterment of the Muslim community, such as building schools, mosques, and water wells.</P>
<P>8. The wayfarer (ibn as-sabil): Those who are traveling and in need of financial assistance.</P>


<br /><br />
<h4>Nisab</h4>

<P>Nisab is the minimum amount of wealth a Muslim must own for one full lunar year before it become obligatory for them to give Zakat. The nisab was set by Prophet Muhammad (peace be upon him) at a rate equivalent to 87.48 grams of gold or 612.36 grams of silver.. The nisab can also be calculated based on the value of other assets, such as gold, silver, cash, stocks, and business inventory, as long as they are above the nisab threshold.</P>




<br /><br />
<h4>Sources</h4>
<P>1. https://muslim.sg/articles/a-look-at-zakat-through-history</P>
<P>2. https://islamic-relief.org/recipients-of-zakat/</P>
<P>3. https://www.hrf.org.uk/zakat/which-8-types-of-people-can-receive-zakat/</P>
<P>4. https://islamic-relief.org/nisab/</P>

<br /><br />

@code {

}